:root {
  --primary: #fe5412;
  --secondary: #fc1a1a;
  --background: #060212;
  --text: #fff;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
