:root {
  --primary: #fe5412;
  --secondary: #fc1a1a;
  --background: #fff;
  --text: #060212;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
