:root {
  --bg-color: #f5f5f5;
  --text-color: #060212;
  --primary-color: #fe5412;
  --secondary-color: #fc1a1a;
}

[data-theme="dark"] {
  --bg-color: #060212;
  --text-color: #f5f5f5;
  --primary-color: #795c06;
  --secondary-color: #4f504f;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a,
a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
