.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: var(--background);
  color: var(--text);

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.containerRight {
  display: flex;
  gap: 1rem;
  align-items: center;

  @media (max-width: 480px) {
    justify-content: space-between;
    width: 100%;
  }
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchIcon {
  color: var(--secondary);
}

.cartIcon {
  position: relative;
  cursor: pointer;

  svg {
    color: var(--secondary);
  }

  .cartCount {
    position: absolute;
    top: -5px;
    right: -10px;
    background: var(--primary);
    color: var(--text);
    font-size: 12px;
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 50%;
  }
}
