.cartModal {
  position: fixed;
  right: 0;
  top: 0;
  width: 350px;
  height: 100vh;
  background: var(--background);
  color: var(--text);
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;

  .modalContent {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .closeButton {
    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
    align-self: flex-end;
  }

  .cartItem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #4f504f;
    padding-bottom: 10px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 8px;
    }

    h3 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
      color: var(--secondary);
    }

    .quantityControls {
      display: flex;
      align-items: center;
      gap: 8px;

      button {
        background: var(--primary);
        color: var(--text);
        border: none;
        padding: 5px 8px;
        cursor: pointer;
        font-weight: bold;
        border-radius: 5px;
      }
    }
  }

  .total {
    padding-top: 10px;
    border-top: 1px solid #4f504f;
    text-align: center;

    h3 {
      font-size: 18px;
    }

    .checkoutButton {
      background: var(--primary);
      color: var(--text);
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      width: 100%;
      font-size: 16px;
      border-radius: 8px;
    }
  }
}
